{
  "root": true,
  "extends": [
    "eslint:recommended",
    "next",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    "global-require": "off",
    "no-unused-vars": "off",
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
